@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .webkit-box {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    line-height: 17px;
    overflow: hidden;
  }

  .line-clamp-text {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    line-height: 17px;
    overflow: hidden;
  }

  .center-element {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #000;
  }

  ::-webkit-scrollbar-thumb {
    background: #100f0f;
    border-radius: 100vh;
    /* border: 2px solid #152232; */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #181616;
  }

  .banner-linear {
    background: linear-gradient(
      -90deg,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0.15) 0,
      rgba(0, 0, 0, 0.9) 80%
    );
  }
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

.swiper-button-prev {
  display: none !important;
}
.swiper-button-next {
  display: none !important;
}

@layer base {
  button:focus {
    @apply outline-0;
  }

  button:focus-visible {
    @apply outline-2 outline outline-[#6a55fa];
  }

  a:focus {
    @appy @apply outline-0;
  }

  a:focus-visible {
    @apply outline-2 outline outline-[#6a55fa];
  }
}
