.overlay::before {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--);
  background: -moz-linear-gradient(
    90deg,
    var(--) 0,
    rgba(5, 6, 10, 0.6) 40%,
    rgba(5, 6, 10, 0) 60%,
    rgba(5, 6, 10, 0) 80%,
    hsl(var(--background)) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsl(var(--background)) 0,
    rgba(5, 6, 10, 0.6) 40%,
    rgba(5, 6, 10, 0) 60%,
    rgba(5, 6, 10, 0) 80%,
    hsl(var(--background)) 100%
  );
  background: linear-gradient(
    90deg,
    hsl(var(--background)) 0,
    rgba(5, 6, 10, 0.6) 40%,
    rgba(5, 6, 10, 0) 60%,
    rgba(5, 6, 10, 0) 80%,
    hsl(var(--background)) 100%
  );
}

.overlay::after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsl(var(--background));
  background: -moz-linear-gradient(
    0deg,
    hsl(var(--background)) 0,
    rgba(5, 6, 10, 0) 50%,
    hsl(var(--background)) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    hsl(var(--background)) 0,
    rgba(5, 6, 10, 0) 50%,
    hsl(var(--background)) 100%
  );
  background: linear-gradient(
    0deg,
    hsl(var(--background)) 0,
    rgba(5, 6, 10, 0) 50%,
    hsl(var(--background)) 100%
  );
  z-index: 2;
}
